/* CSS Reset */
/* Resetting margins, paddings, and borders */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Sizing - Height */
body {
  min-height: 100vh;
}

/* Typography */
body {
  font-size: 1rem;
  line-height: 1.5;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

/* Resetting specific element styles */
ol,
ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/* Basic rules */
body {
  font-family: 'Oswald', sans-serif;
}

h1,
h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

header {
  min-height: 100vh;
}

/* Header */
.masthead {
  background-attachment: fixed;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  padding: 0 2rem;
  position: relative;
}

/* Navigation */
nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

nav .item {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

nav .circle-icon {
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

nav .brand {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  margin-right: auto;
}

@media screen and (max-width: 376px) {
  nav {
    justify-content: center;
    padding-top: 1.5rem;
  }
  
  nav .brand {
    flex: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* Introduction - Masthead */
.intro {
  left: 50%;
  padding: inherit;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 376px) {
  .intro {
    padding: top: 60%;
    transform: translate(-50%, -60%);
  }
}

.intro h1 {
  font-size: 3.5rem;
}

@media (max-width: 600px) {
  .intro h1 {
    font-size: 2.5rem;
  }
}

.intro p {
  font-weight: 400;
  font-size: 1.7rem;
}

/* Main */
.posts {
  background-color: #eeeeee;
  padding: 50px 0 100px;
  text-align: center;
}

.posts h2 {
  color: #7F7E7E;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Grid */
.grid {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 50px;
  row-gap: 20px;
  padding: 0 40px;
}

@media ( max-width: 1120px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media ( max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}

/* Grid item */
.card {
  display: flex;
  flex-direction: column;
}

.card:hover {
  cursor: pointer;
}

.card .card-img  {
  position: relative;
  height: 300px;
}

.card-img img {
  height: 100%;
  width: 100%;
}

.card .likes {
  bottom: 20px;
  color: #fff;
  font-weight: bold;
  left: 15px;
  position: absolute;
}

.card .card-text {
  background-color: #fff;
  color: #535151;
  font-size: .9rem;
  min-height: 100px;
  padding: 15px;
  text-align: left;
}

/* Footer */
footer {
  text-align: center;
  color: #7F7E7E;
}

.contact {
  padding: 100px 0;
}

.contact h2 {
  font-size: 2rem;
  color: #3E3C3C;
  margin-bottom: 20px;
}

.contact p{
  margin-bottom: 40px;
}

.contact p span{
  display: block;
}

.contact .btn {
  background-color: #3E3C3C;
  color: #fff;
  display: inline-block;
  padding: 12px 24px;
  text-transform: uppercase;
  width: 200px;
}

@media (max-width: 500px) {
  .contact .btn {
    max-width: 100%;
  } 
}

.copyright {
  border-top: 1px solid rgb(196, 189, 189);
  padding: 25px 0;
  text-transform: uppercase;
}

.copyright small {
  font-size: .85rem;
}
